body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url('ini.jpg') no-repeat center center/cover;
    color: white;
    padding: 20px;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

.button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background: #ff758c;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}

.button:hover {
    background: #ff5f6d;
}
